*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    
}
body{
    font-family: 'Inter', sans-serif;
    background-color: black;

}
/* ----------------------------NAV BAR--------------------*/
nav{
    font-size: 20px;
}
.navbar-brand, .nav-link{
    color: white;
}
.nav-link:hover{
    background-color: #00ADB5;
    border-radius: 10px;
}
.nav-link:active{
    color: rgb(0, 55, 80);
}
.navbar-brand > img{
    width: 60px;
    height: 30px;
    object-fit: contain;

}
/* ----------------------------HOME--------------------*/

.homepage {
    top: 83px;
    height: 800px;
    width: 100%;
    
}
.homepage {
    background-image: url("../images/covertech.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    transition: all 10s;
}
.homepage > h1{
    padding-top: 340px;
    font-size: 170px;
    animation: slide 2s ease-in;
}
.homepage > h2{
    font-size: 5vh; 
    animation: slide 2s ease-in;   
}
.homepage >h1,h2{
    text-align: center;
}
@keyframes slide{
    0%{transform:translateX(-2000px) scale(.7);
    transform:translateX(-2000px) scale(.7);
    opacity:.7
    }

    70%{transform:translateX(0) scale(.7);
        transform:translateX(0) scale(.7);
        opacity:.7}

    to{transform:scale(1);
        transform:scale(1);
        opacity:1}
}

 
/* ----------------------------ABOUT--------------------*/
.about{
    display: flex;
    height: 500px;
    width: 100%;
    padding-top: 100px;

}
.about{
    background-color: black;
    color: aliceblue;
}
.pic{
    display: block;
    width: 50%;
    margin: 20px auto;
    padding-left: 60px;
}
.me {
    margin-left: 50px;
    object-fit: contain;
    margin:10px auto;
    width: 300px;
    height: 300px;
    
}
.info{
    text-align: center;
    width: 900px;
}
.info > p {
    font-size: 20px;
}
.info > h2{
    font-size: 40px;
}
@media (max-width: 858px){
    .about{
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
    }
    .pic {
        display: block;
        width: 100%;

    }
    .me{
        min-width: 400px;
    }
}

/* Project */
.projects{
    width: 100%;
    background-color: #ffffff;
}
.projects > h2{
    padding-top: 30px;
    font-size: 5vh;

}
.carousel{
    margin: 20px auto;
}

@media (max-width: 858px){
.carousel-indicators > button{
    width: auto;
    height: auto;
}
.d-block{
    width: auto;
    height: auto;
}
}
/* CONTACT */
.contact{
    width: 100%;
    height: 700px;
    background-color: rgba(0, 0, 0, 0.986);
    color: white;
}
.contact > h2,p{
    text-align: center;
}
.col-sm > h2{
    font-size: 7vh;
}
.contact > p{
    font-size: 3vh ;
}
.contact-me{
    font-size: 5vh;
    margin-top: 60px;
}
form{
    margin-top: 30px;
    margin-bottom: 20px;
}
input , label{
    margin: 5px;
}
input{
    width: 100%;
}
textarea{
    width: 100%;
    height: 190px;
}
.send{
 width: calc(30% - 5px);
 margin-left: 50%;
 margin-right: 50%;
}
.send{
    font-size: 20px;
    border-radius: 10px;
    background-color: #ffffff; /* Green */
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 20px;
    text-decoration: none;
  }
  .send:hover{
    background-color: #00ADB5;
  }
@media (max-width: 858px){
    .contact{
        height: auto;
    }
}
footer{
    display:flex;
    width: 100%;
    height: 80px;
    justify-content: end;
    background-color: #00ADB5;
}
footer > p{
    justify-items: start;

}
footer > ul li{
    margin-top: 10px;
    display: inline-block;
    margin-right: 30px;

    
}
.socialmedia a > img{
    height:50px;
    width: 60px;
    object-fit: contain;

}
@media (max-width: 600px){
    footer{
        height: auto;
    }
}